*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 100px;
}
body{
    background-color: #f0f2f5;
    height: 100vh;
}
.container{
    margin-top: 120px;
    display: grid;
    height:45%;
    grid-template-columns:1fr 1fr ;
}
.textbox{
    align-self: end;
    justify-self:end;
    height: 80%;
}
.w-50{
    /*border: 2px solid rgb(55, 0, 255);*/ 
    height: 7rem;
    margin-bottom: -19px;
}
.line{
    font-size: 24px;
    margin-top: 5px;
    margin-left:30px;
    max-width:450px ;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    /*border: 2px solid rgb(255, 0, 64);*/ 
}
.card{
   /* border: 2px solid rgb(225, 255, 0);*/
    align-self: start;
    justify-self:start;
    display: block;
    margin-top: 25px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.login-form{
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    width: 70%;
    height: 320px;
    text-align: center;
    box-shadow: 0px 0px 4px;
}
.lbtn button{
    margin-top: 15px;
 width: 100%;
 background-color:#1877f2;
    border-radius: 6px;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    height: 40px;
    font-weight: 700;
    border: 1px;
    cursor: pointer;
}
.lbtn button:hover{
    background-color: #235da9;
    transition: 0.5s;
}
input{
    padding: 5px;
    margin-top: 12px;
    border-radius: 5px;
    height: 45px;
    width: 100%;
color:  #979191;
font-size: 17px;
border: 1px solid rgb(219, 212, 212);
}
.text{
    margin-top: 15px;
    margin-bottom: 15px;
}
.text a{
    text-decoration: none;
    color: #1877f2;
}
.text a:hover{
    text-decoration: underline;
}
hr{
    margin-bottom: 14px;
}
.btn button{
    margin: 5px;
    padding: 12px;
    border-radius: 7px;
    background-color: rgb(66,183,42);
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    border: 1px;
    cursor: pointer;
}
.btn button:hover{
    background-color:rgb(5, 123, 19);
    transition: 0.5s;
}
.text-center{
    padding-right:150px;
    padding-top: 12px;
}
.text-center a{
    text-decoration: none;
    color: black;
}
.footer{
    background-color: #fff;
margin-top: auto;
}
.footer p{
    padding: 8px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #979191;
    text-align: justify;
   word-spacing: 25px;
   
   vertical-align: baseline;
}
.lan{
border-bottom: 2px solid grey;
}
@media(max-width:1500px){
    .textbox{
        align-self:end;
    }
}
@media(min-width:1500px){
    .card{
        margin: 0px 110px;
    }
}
@media(max-width:970px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .textbox{
        justify-self: center;
        margin-bottom: 15px;
        margin-left: 10%;
        margin-right: 2%;
        width:80px;
    }
    .card{
    margin-left:20%;
    }
}